# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Logs
*.log

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local work data
work.csv